﻿
.container-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

.box {
    width: 40%;
    max-height: 450px;
    background: inherit;
    margin: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .box{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .box {
        width: 90%;
    }
}