﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    color: black;
    background-color: #ECE6C6;
    margin: 0;
    padding: 0;
}

    body::-webkit-scrollbar {
        width: 0.25rem;
    }

    body::-webkit-scrollbar-track {
        background: white;
    }

    body::-webkit-scrollbar-thumb {
        background: #a5743f;
    }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.navbar-search-form {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    float: none;
    text-align: center;
    padding: 8px 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.anavbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: #E7DDB6;
    transition: width 125ms ease;
}

.anavbar-nav {
    height: 90vh;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anav-item {
    width: 100%;
}

    .anav-item:last-child {
        margin-top: auto;
    }

.anav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #a5743f;
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.anav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.anavbar:hover {
    width: 16rem;
}

    .anavbar:hover .link-text {
        display: block;
    }

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    background: #493e2c;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

    .logo svg {
    }

/* Small */
@media only screen and (max-width: 600px) {
}

/* Large */
@media only screen and (min-width: 600px) {
}
