﻿@{
    ViewData["Title"] = "TrueFakers";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Bienvenido a TrueFakers</h1><br />
    <p class="text-justify">
        La plataforma de periodismo etico y libre, cuyo porposito es dar una fuente
        confiable de informacion y en donde todos puedan participar en la verificacion de una noticia
        colaborativamente.
    </p>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel eros ut quam suscipit pretium. 
        Etiam quam nulla, vestibulum a mi sed, consequat fermentum lacus. Nam libero enim, blandit rhoncus 
        porttitor at, consequat nec leo. Sed sed magna viverra, scelerisque mauris in, porttitor tellus. 
        Sed bibendum orci nisl, id fermentum erat dignissim id. Morbi fermentum sodales purus id aliquam. 
        Vestibulum feugiat rhoncus tincidunt.
        In posuere justo et erat rutrum luctus. Quisque lacinia elit porttitor molestie iaculis. 
        Pellentesque sit amet leo sodales, ullamcorper massa at, hendrerit massa. Phasellus sit amet placerat massa, 
        id tempor lectus. Sed maximus vulputate lectus eu venenatis. Aenean porta velit ut nunc eleifend hendrerit. 
        Aliquam laoreet condimentum lobortis. Maecenas faucibus leo laoreet, laoreet est at, commodo felis. 
        Duis malesuada mollis velit, sed tincidunt dolor porta tempor.
        Integer vitae libero nulla. Sed vel nulla arcu. In consectetur venenatis eros, id cursus arcu fringilla ut. 
        Ut vel volutpat eros. Cras ultricies consectetur ligula, id sagittis enim pulvinar ut. Integer luctus commodo libero 
        eget euismod. Vivamus faucibus non mi eget congue. Ut scelerisque, massa vel malesuada ultrices, metus erat eleifend 
        felis, vel rutrum odio massa a justo. Etiam aliquet molestie lacus, quis maximus orci. Curabitur a dui molestie, condimentum mauris.
    </p>
    <br />
    <div class="grid-container-inicio">
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Deforestacion en la selva Amazonica</h3>
                <h6>Continua la deforestacion en la selva amazonica</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 5</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
            </a>
        </div>
    </div>
</div>
