﻿@model TrueFakers_ale.ViewModels.ContactoViewModel
@{
    ViewData["Title"] = "Contactar";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mt-5 mb-4 text-center">Formulario de Contacto</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensaje"></label>
                <textarea asp-for="Mensaje" class="form-control" rows="10"  style="resize:none;"></textarea>
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar Mensaje</button>
        </form>
    </div>
</div>