﻿@model IEnumerable<Noticia>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center mb-5 mt-5">
        <h1 class="display-4">TrueFakers</h1>
    </div>
    @if (Model.Any())
    {
        <div class="container-flex">
            @foreach (var item in Model)
            {
                <div class="box">
                    <partial name="~/Views/Noticia/Noticia.cshtml" model='item' />
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center mt-5">
            <h3>No hemos encontrado noticias Verdaderas. <br /> Si quieres crear tu noticia Registrate!</h3>
        </div>

    }
</div>


