﻿@model TrueFakers_Web_Prototipo.Models.Noticia

@{
    ViewData["Title"] = "Redactar Noticia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
<h4>Redactar Noticia</h4>
<hr />
<div class="">
    <div class="">
        <form asp-action="CrearNoticia" class="grid-container-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuerpo" class="control-label">Contenido</label>
                <div class="form-group">
                    <textarea asp-for="Cuerpo" class="form-control" id="" rows="15"></textarea>
                </div>
                <span asp-validation-for="Cuerpo" class="text-danger"></span>
            </div>
            <div class="form-group das">
                <input type="submit" value="Publicar Noticia" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-md-right">
    <a asp-action="ListaNoticias">Volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
