﻿@model TrueFakers_Web_Prototipo.Models.Noticia

@{
    ViewData["Title"] = "LeerNoticia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <br />
    <h3>Crazy Cat</h3>
    <h5>Un gato loco se ha escapado del manicomio!</h5>
    <hr />
    <dl class="row">
        <dd class="col-sm-2 text-justify font-weight-lighter">
            Un gato loco se ha escapado del manicomio!, todo lo que tiene que saber, ahora ya en esta noticia.
        </dd>
        <dd class="col-sm-10 text-justify">
            A crazy cat has escaped from an asylum, take cover kids consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
            Ut scelerisque consequat libero, non consectetur turpis mollis id.
            Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
            A crazy cat has escaped from an asylum, take cover kids consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
            Ut scelerisque consequat libero, non consectetur turpis mollis id.
            Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
            A crazy cat has escaped from an asylum, take cover kids consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
            Ut scelerisque consequat libero, non consectetur turpis mollis id.
            Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
        </dd>
        <dd class="col-sm-12 text-justify">
            A crazy cat has escaped from an asylum, take cover kids consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
            Ut scelerisque consequat libero, non consectetur turpis mollis id.
            Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
            A crazy cat has escaped from an asylum, take cover kids consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
            Ut scelerisque consequat libero, non consectetur turpis mollis id.
            Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
        </dd>
    </dl>
    <br />
    <div class="grid-container-votacion text-center">
        <button class="btn btn-outline-danger">falso</button>
        <p class="align">3 / 14</p>
        <button class="btn btn-outline-success">verdadero</button>
    </div>
    <br />
    <hr />
    <div class="grid-container-comentario">
        <h5 class="font-weight-bold">Comentarios</h5>
        <p>Pedro Villa: No creo que esto sea verdad, como un gato loco ... lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet  lorem ipsum dolor sit amet.</p>
        <p>Lalo Lein: Este es un comentario creado por un usuario.</p>
        <p>Elsa pato: No creo que esto sea verdad, como un gato loco ... lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
        <div>
            <form asp-action="Comentar" class="grid-container-create">
                <div class="form-group">
                    <textarea class="form-control" id="crear-comentario" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Comentar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<div class="text-md-right">
    <a asp-action="ListaNoticias">Volver atras</a>
</div>
