﻿@{
    ViewData["Title"] = "Noticias";
    Layout = "_Layout";
}
    <div>
        <br />
        <h1 class="text-center">Noticias</h1>
        <br />
    </div>
    <div class="grid-container">
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Deforestacion en la selva Amazonica</h3>
                <h6>Continua la deforestacion en la selva amazonica</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-success text-right">verdadera</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Tasa Mortalidad Covid19</h3>
                <h6>Un indicador mas seguro para medir la tasa de mortalidad</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-info text-right">no verificado</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Crazy Cat</h3>
                <h6>Crazy cat escaped from asylum</h6>
                <p>
                    A crazy cat has escaped from an asylum, take cover kids consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-success text-right">verdadera</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 4</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-danger text-right">falsa</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 5</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-info text-right">no verificado</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 6</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-warning text-right">impreciso</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 7</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-info text-right">no verificado</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 8</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-danger text-right">falsa</p>
            </a>
        </div>
        <div class="noticia">
            <a href="#">
                <h3 class="text-center">Titulo Noticia 9</h3>
                <h6>Mini Descripcion</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta ac ex fermentum tincidunt.
                    Ut scelerisque consequat libero, non consectetur turpis mollis id.
                    Nunc mi quam, suscipit vel vestibulum nec, varius in velit.
                </p>
                <hr />
                <p class="text-warning text-right">impreciso</p>
            </a>
        </div>

    </div>

