﻿body {
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: ". . ." ". . ." ". . .";
}

.noticia {
    margin: 8px 12px 8px 12px;
    padding: 8px 12px 8px 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
}

.noticia > a {
    color: black;
    text-decoration: none;
}

.noticia > a:visited {
    color: black;
}

.noticia > a > p {
    text-align: justify;
}

.noticia:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-container-votacion {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32px;
    gap: 20px 20px;
    grid-template-areas: ". . .";
}

    .grid-container-votacion > button {
        width: 120px;
    }
    .grid-container-votacion > p {
        width: 120px;
    }

.grid-container-create {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: ".";
}

.das {
    display: flex;
    align-items: center;
    justify-content: center;
}