﻿@model TrueFakers_ale.ViewModels.RegisterViewModel

@{ 
    ViewBag.Title = "Registrate";
}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mt-5 mb-5 text-center">Registrarse</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarme</button>
            </form>
            <form class="mt-5" method="get" asp-controller="Account" asp-action="Login">
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Ya tengo cuenta!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>