﻿@model Noticia

@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="mt-3 mb-5 text-center">Crea tu noticia</h1>

        <h4 class="mt-5 mb-3">Noticia</h4>
        <hr />
        <form class="mt-5" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTitulo" class="control-label"></label>
                <input asp-for="SubTitulo" class="form-control" />
                <span asp-validation-for="SubTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuerpo" class="control-label"></label>
                <textarea asp-for="Cuerpo" class="form-control" rows="15"></textarea>
                <span asp-validation-for="Cuerpo" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar!</button>
        </form>
    </div>
</div>