﻿@model Noticia
@inject UserManager<Usuario> userManager;
@inject SignInManager<Usuario> signInManager;
@{
    ViewData["Title"] = "Details";
}

@{
    int veredicto = Model.Veredicto;
    string veredictoForView;
    string color;

    if (veredicto == 0)
    {
        veredictoForView = "Pendiente";
        color = "#a5743f";
    }
    else if (veredicto == 1)
    {
        veredictoForView = "Falso";
        color = "red";
    }
    else if (veredicto == 2)
    {
        veredictoForView = "Verdadero";
        color = "green";
    }
    else
    {
        veredictoForView = "Impreciso";
        color = "orange";
    }

    var havePermission = ViewData["HavePermission"];
    var comentarios = ViewData["CommentsList"] as List<Comentario>;
}

<div class="container mt-5">
    <div class="jumbotron mb-5" style="background: #F6F5E4">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 mb-5">@Model.Titulo</h1>
                <p class="lead mt-1">@Model.SubTitulo</p>
            </div>
        </div>
        <hr class="my-4" />
        <div class="row">
            <div class="col">
                <p>@Model.Cuerpo</p>
            </div>
        </div>
        <hr class="my-4" />
        <div class="row">
            <div class="col">
                <h3 class="" style="color: @color;">@veredictoForView</h3>
            </div>
            @if (Model.IsEnabled)
            {
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a id="verdadera" class="btn btn-success" style="color: white" asp-controller="Voto" asp-action="VotarVerdadera" asp-route-id="@Model.NoticiaId">Verdadera</a>
                    <a id="falsa" class="btn btn-danger" style="color: white" asp-controller="Voto" asp-action="VotarFalsa" asp-route-id="@Model.NoticiaId">Falsa</a>
                    <a id="impreciso" class="btn btn-warning" style="color: white" asp-controller="Voto" asp-action="VotarImprecisa" asp-route-id="@Model.NoticiaId">Imprecisa</a>
                </div>
            }

            @if (havePermission.Equals(true))
            {
                    <div class="col text-right">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.NoticiaId">Editar</a>
                        </div>
                    </div>
            }
        </div>

    </div>
    <div class="row">
        <div class="col text-right">
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.Veredicto == 0)
                {
                    <a class="btn btn-light" asp-controller="Noticia" asp-action="Index">Volver Atras</a>
                }
                else if (Model.Veredicto == 2)
                {
                    <a class="btn btn-light" asp-controller="Noticia" asp-action="Verdaderas">Volver Atras</a>
                }
                else if (Model.Veredicto == 3)
                {
                    <a class="btn btn-light" asp-controller="Noticia" asp-action="Imprecisas">Volver Atras</a>
                }
                else
                {
                    <a class="btn btn-light" asp-controller="Noticia" asp-action="Falsas">Volver Atras</a>
                }
            }
            else
            {
                <a class="btn btn-light" asp-controller="Home" asp-action="Index">Volver Atras</a>
            }
        </div>
    </div>

    <div class="jumbotron mt-4" style="background: #F6F5E4">
        @if (comentarios.Count != 0)
        {
            @foreach (var comentario in comentarios)
            {
                <div class="row mb-2 justify-content-center">
                    <div class="col-6 text-center d-flex align-content-center">
                        <div class="card rounded" style="width: 60vw;">

                            <div class="card-header" style="background: #E7DDB6">
                                @comentario.Usuario.Email
                            </div>
                            <div class="card-body bg-white" style="background: #ECE6C6">
                                <p>@comentario.Contenido</p>
                                <a class="btn btn-danger mt-4" asp-controller="Comentario" asp-action="Report" asp-route-id="@comentario.ComentarioId" style="color: white">Reportar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h6>No hay cometarios</h6>
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="mt-4 mb-4" method="post" asp-controller="Comentario" asp-action="Comentar" asp-route-noticiaId="@Model.NoticiaId">
                    <div class="form-group">
                        <textarea class="form-control" rows="6" name="nuevoComentario" style="resize: none;" maxlength="998"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary text-center">Comenta!</button>
                </form>
            </div>
        </div>
    }
</div>

