﻿@model Noticia
@{
    ViewData["Title"] = "Edit";
}

@{
    int veredicto = Model.Veredicto;
    string veredictoForView;

    if (veredicto == 0)
    {
        veredictoForView = "Pendiente";
    }
    else if (veredicto == 1)
    {
        veredictoForView = "Falso";
    }
    else if (veredicto == 2)
    {
        veredictoForView = "Verdadero";
    }
    else
    {
        veredictoForView = "Impreciso";
    }
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mt-5 mb-5"> Editar Noticia </h1>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo"></label>
                <input asp-for="Titulo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SubTitulo"></label>
                <input asp-for="SubTitulo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cuerpo" class="control-label"></label>
                <textarea asp-for="Cuerpo" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Cuerpo" class="text-danger"></span>
            </div>
            @if (User.IsInRole("admin") || User.IsInRole("editor"))
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="IsEnabled" asp-for="IsEnabled">
                    <label class="custom-control-label" for="IsEnabled">Habilitar Noticia</label>
                </div>
                @*
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="IsVerified" asp-for="IsVerified">
                        <label class="custom-control-label" for="IsVerified">@Html.DisplayNameFor(model => model.IsVerified)</label>
                    </div>
                *@
                <br />
                <div class="form-group d-inline-flex ">
                    <label for="select-veredicto" class="align-self-center mt-2 mr-2">Veredicto</label>
                    <select id="select-veredicto" asp-for="Veredicto" class="form-control" style="width:200px;">
                        <option value="0">Pendiente</option>
                        <option value="1">Falso</option>
                        <option value="2">Verdadero</option>
                        <option value="3">Impreciso</option>
                    </select>
                    <span asp-validation-for="Veredicto" class="text-danger"></span>
                </div>
            }
            <hr />
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
        <div class="row">
            <div class="col text-right">
                @if (User.Identity.IsAuthenticated)
                {
                    if (Model.Veredicto == 0)
                    {
                        <a class="btn btn-light" asp-controller="Noticia" asp-action="Index">Volver Atras</a>
                    }
                    else if (Model.Veredicto == 2)
                    {
                        <a class="btn btn-light" asp-controller="Noticia" asp-action="Verdaderas">Volver Atras</a>
                    }
                    else if (Model.Veredicto == 3)
                    {
                        <a class="btn btn-light" asp-controller="Noticia" asp-action="Imprecisas">Volver Atras</a>
                    }
                    else
                    {
                        <a class="btn btn-light" asp-controller="Noticia" asp-action="Falsas">Volver Atras</a>
                    }
                }
                else
                {
                    <a class="btn btn-light" asp-controller="Home" asp-action="Index">Volver Atras</a>
                }
            </div>
        </div>
    </div>
</div>