﻿@model IEnumerable<Noticia>

@{
    ViewData["Title"] = "Noticias general";
}

<div class="container">
    <div class="text-center mb-5 mt-5">
        <h1 class="display-4">TrueFakers</h1>
    </div>
    <div class="container-flex">
        @foreach (var item in Model)
        {
            <div class="box">
                <partial name="~/Views/Noticia/Noticia.cshtml" model='item' />
            </div>
        }
    </div>
</div>