﻿@model IEnumerable<Noticia>

@{
    ViewData["Title"] = "Lista veredictos";
}

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4">Veredictos por revisar</h1>
    </div>
        @foreach (var item in Model)
        {
            <div>
                <partial name="~/Views/Noticia/Veredicto.cshtml" model='item' />
            </div>
        }
</div>
