﻿@model Noticia

@{
    ViewData["Title"] = "Index";
}

@{
    var tmpContenido = Model.Cuerpo;
    if (tmpContenido.Length >= 200)
        tmpContenido = tmpContenido.Substring(0, 200);
    else
        tmpContenido = tmpContenido.Substring(0, tmpContenido.Length);
}

@{
    int veredicto = Model.Veredicto;
    string veredictoForView;
    string color;

    if (veredicto == 0)
    {
        veredictoForView = "Pendiente";
        color = "#a5743f";
    }
    else if (veredicto == 1)
    {
        veredictoForView = "Falso";
        color = "red";
    }
    else if(veredicto == 2)
    {
        veredictoForView = "Verdadero";
        color = "green";
    }
    else
    {
        veredictoForView = "Impreciso";
        color = "orange";
    }
}





<a title="Leer noticia completa" style="text-decoration: none; color: inherit" asp-controller="Noticia" asp-action="Details" asp-route-id="@Model.NoticiaId">
    <div class="card" style="min-height: 450px">
        <div class="card-header" style="background: #E7DDB6; max-height:inherit">
            <h4>@Model.Titulo</h4>
        </div>
        <div class="card-body" style="background: #F6F5E4">
            <h5 class="card-title">@Model.SubTitulo</h5>
            <p class="card-text">@tmpContenido . . .</p>
        </div>
        <div style="background: #E7DDB6; color: @color;" class="card-footer">
            @veredictoForView
        </div>
    </div>
</a>
