﻿@model IEnumerable<Noticia>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4 mt-5">
                    <partial name="~/Views/Noticia/Noticia.cshtml" model='item' />
                </div>
            }
        </div>
    </div>