﻿@model Noticia

@{
    ViewData["Title"] = "Veredicto";
}

@{
    int veredicto = Model.Veredicto;
    string veredictoForView;

    if (veredicto == 0)
    {
        veredictoForView = "Pendiente";
    }
    else if (veredicto == 1)
    {
        veredictoForView = "Falso";
    }
    else if (veredicto == 2)
    {
        veredictoForView = "Verdadero";
    }
    else
    {
        veredictoForView = "Impreciso";
    }
}

<div class="list-group mb-4">
    <a href="#" class="list-group-item list-group-item-action" style="background-color: lightgray">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@Model.Titulo</h5>
            <small>@veredictoForView</small>
        </div>
        <p class="mb-1">@Model.SubTitulo</p>
        <small>@Model.Fecha</small>
    </a>
</div>
