﻿@inject SignInManager<Usuario> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrueFakers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/noticias.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>

    <div>
        <nav class="anavbar">
            <ul class="anavbar-nav">
                <li class="logo">
                    <a asp-controller="Home" asp-action="Index" class="anav-link" style="text-decoration: none">
                        <span class="link-text">True-Fakers</span>
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="newspaper" class="svg-inline--fa fa-newspaper fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M552 64H112c-20.858 0-38.643 13.377-45.248 32H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h496c13.255 0 24-10.745 24-24V88c0-13.255-10.745-24-24-24zM48 392V144h16v248c0 4.411-3.589 8-8 8s-8-3.589-8-8zm480 8H111.422c.374-2.614.578-5.283.578-8V112h416v288zM172 280h136c6.627 0 12-5.373 12-12v-96c0-6.627-5.373-12-12-12H172c-6.627 0-12 5.373-12 12v96c0 6.627 5.373 12 12 12zm28-80h80v40h-80v-40zm-40 140v-24c0-6.627 5.373-12 12-12h136c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H172c-6.627 0-12-5.373-12-12zm192 0v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0-144v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0 72v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12z"></path></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <form method="get" asp-controller="Noticia" asp-action="Search" class="form-inline my-2 my-lg-0 link-text">
                        <input class="form-control mr-2 ml-3" type="search" placeholder="Search" value="@ViewData["SearchNoticia"]" name="query" aria-label="Buscar">
                        <button class="btn btn-outline-dark mt-1 mr-2 ml-3" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
                <li class="anav-item">
                    <a asp-controller="Home" asp-action="Contactar" class="anav-link" style="text-decoration: none">
                        <i class="fas fa-info"></i>
                        <span class="link-text">Contactar</span>
                    </a>
                </li>
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="anav-item">
                        <a asp-controller="Home" asp-action="Index" class="anav-link" style="text-decoration: none">
                            <i class="fas fa-check"></i>
                            <span class="link-text">Verdaderas</span>
                        </a>
                    </li>
                    <li class="anav-item">
                        <a asp-controller="Noticia" asp-action="Falsas" class="anav-link" style="text-decoration: none">
                            <i class="fas fa-times"></i>
                            <span class="link-text">Falsas</span>
                        </a>
                    </li>
                    <li class="anav-item">
                        <a asp-controller="Noticia" asp-action="Imprecisas" class="anav-link" style="text-decoration: none">
                            <i class="fas fa-question"></i>
                            <span class="link-text">Imprecisas</span>
                        </a>
                    </li>
                    <li class="anav-item">
                        <a asp-controller="Noticia" asp-action="Index" class="anav-link" style="text-decoration: none">
                            <i class="fas fa-user-friends"></i>
                            <span class="link-text">Verifica en <br />Comunidad</span>
                        </a>
                    </li>
                    <li class="anav-item">
                        <a asp-controller="Noticia" asp-action="Create" class="anav-link" style="text-decoration: none">
                            <i class="fas fa-plus-square"></i>
                            <span class="link-text">Crear Noticia</span>
                        </a>
                    </li>
                    if (User.IsInRole("editor") || User.IsInRole("admin"))
                    {
                        <li class="anav-item">
                            <a asp-controller="Noticia" asp-action="NoAprobadas" class="anav-link" style="text-decoration: none">
                                <i class="fas fa-search"></i>
                                <span class="link-text">Revisar Noticia</span>
                            </a>
                        </li>
                        <li class="anav-item">
                            <a asp-action="ListVeredictos" asp-controller="Noticia" class="anav-link" style="text-decoration: none">
                                <i class="fas fa-search"></i>
                                <span class="link-text">Revisar Veredictos</span>
                            </a>
                        </li>
                    }
                    if (User.IsInRole("admin"))
                    {
                        <li class="anav-item">
                            <a asp-action="Index" asp-controller="Administration" class="anav-link" style="text-decoration: none">
                                <i class="fas fa-user-friends"></i>
                                <span class="link-text">Administrar</span>
                            </a>
                        </li>
                    }
                    <li class="anav-item">
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button class="anav-link" style="text-decoration: none">
                                <i class="fas fa-edit"></i>
                                <span class="link-text">Cerrar Sesion</span>
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="anav-item">
                        <a asp-controller="Account" asp-action="Login" class="anav-link" style="text-decoration: none">
                            <i class="fas fa-edit"></i>
                            <span class="link-text">Ingresar</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
