﻿@model TrueFakers_ale.ViewModels.CreateRoleViewModel

@{ 
    ViewData["Title"] = "Create Role";
}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mt-5 mb-5"> Registrate! </h1>
            <form method="post">
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </div>