﻿@model Usuario

@{ 
    ViewData["Title"] = "Menu administracion";
}

<div class="container mb-5">
    <h4 class="mt-3 mb-5 text-center">Panel de Administracion</h4>

    <div class="row justify-content-center mt-5">
        <div class="col-4 mt-5">
            <div class="card" style="width: 18rem; min-height: 200px">
                <div class="card-body">
                    <h5 class="card-title">Administrar Usuarios</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Usuarios</h6>
                    <p class="card-text">Administra los usuarios y sus estados dentro del portal.</p>
                    <a asp-action="ListUsers" class="card-link" style=" text-decoration: none">Administrar Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card" style="width: 18rem; min-height: 200px">
                <div class="card-body">
                    <h5 class="card-title">Administrar Roles</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Roles</h6>
                    <p class="card-text">Administra los roles dentro del portal y que usuarios pertenecen.</p>
                    <a asp-action="ListRoles" class="card-link" style=" text-decoration: none">Adminstrar Roles</a>
                </div>
            </div>
        </div>
    </div>
</div>