﻿@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "List Users";
}

@{ 
    int reportsCounter = 0;
}

@if (Model.Any())
{
    <div class="container mb-4">
        @foreach (var user in Model)
        {
            reportsCounter = 0;
        <div class="card mt-5 mb-4">
            <div class="card-header">
                Usuario email : @user.Email
            </div>
            <div class="card-body">
                @foreach (var comentario in user.Comentarios)
                {
                    reportsCounter += comentario.Reportes;
                }
                <h3>El usuario ha sido reportado: </h3>
                <h5 class="card-title">@reportsCounter veces</h5>
            </div>

            @if (!user.IsBlocked)
            {
                <div class="card-footer">
                    <a class="btn btn-primary" style="color: white;" asp-controller="Administration" asp-action="BlockUser" asp-route-id="@user.Id">Bloquear</a>
                </div>
            }
            else
            {
                <div class="card-footer">
                    <a class="btn btn-primary" style="color: white;" asp-controller="Administration" asp-action="BlockUser" asp-route-id="@user.Id">Desbloquear</a>
                </div>
            }

        </div>
        }
        <a class="btn btn-primary mt-5" style="width: auto" asp-controller="Administration" asp-action="CreateRole">
            Crear Rol
        </a>
    </div>
}