﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All Roles";
}

@if (Model.Any())
{
    <div class="container mb-4">
        @foreach (var role in Model)
        {
            <div class="card mt-5 mb-4">
                <div class="card-header">
                    Role id : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" style="color: white;" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                </div>
            </div>
        }
        <a class="btn btn-primary mt-5" style="width: auto" asp-controller="Administration" asp-action="CreateRole">
            Crear Rol
        </a>
    </div>

}
else
{
    <div class="card">
        <div class="card-header">
            No se han creado Roles
        </div>
        <div class="card-body">
            <a class="btn btn-primary" style="width: auto" asp-controller="Administration" asp-action="CreateRole">
                Crear Rol
            </a>
        </div>
    </div>
}