﻿@model List<TrueFakers_ale.ViewModels.UserRoleViewModel>

@{ 
    var roleId = ViewData["roleId"];
}


<div class="container">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Agrega o elimina usuarios del rol</h2>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                <div class="form-check m-2">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Editar" class="btn btn-primary" style="width: auto"/>
                <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary" style="width: auto">Cancelar</a>
            </div>
        </div>
    </form>
</div>
